.card{
    box-shadow: 0 0 15px -5px black;
}
.page-bar{
    margin-bottom: 0px !important;
}
.date{
    cursor: not-allowed;
}
.rpFilter{
    font-weight: bold;
}
.field{
    font-size: 18px;
    color:#0177bc;
}
.report{
    color: #0177bc;
    font-size: 23px;
}

.btn:hover{
    background: green;
    color: white;
}
thead{
    background: #ccc;
}
.titleName{
    font-weight: bold;
    margin-top: 63px;
}
.Homebar i,.Homebar a{
    color:#0177bc;
}
.btnShow{
    background: #e4e2e2;

}
.btnShow:hover{
    background: #e4e2e2;

}
.statusdata{
    font-size: 15px;
}
.status{
    font-size: 20px;
    
}
table{     
        font-style: normal;
       }

.actionIcons button{
    background: white;
    box-shadow: 1px 1px 3px -1px black;
    background: none;
    outline: none;
    border: none;
    margin-right: 10PX;
    padding: 5px;
    width: 30px;
}

// .thead tr{
//     font-weight: bold;
// }
// button {
// padding: 5px;
// }
// .bgLogo{
//     background-image: url('/assets/img/Bg.jpg');
//     background-attachment: fixed;
//     background-size:cover;
//     background-repeat: no-repeat;
   
// }
// h4{
//     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
//     color: #f38c06;
//     font-weight: bold;
// }

// .caption{
//     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

// }

