<div class="page-content-wrapper" style="margin-left: -237px;">
 	
  <div class="page-content bgLogo" style="margin-right: -232px;">
    <h3>
        Notice Board
     </h3>
     <div class="float-right">
          <img src="/assets/img/black logo.png" height="50px" width="200px" class="">
      </div>
      <div class="page-bar">
         <ul class="page-breadcrumb">
             <li>
                 <i class="fa fa-home"></i>
                 <a routerLink='/homepage'>Home</a>
                 <i class="fa fa-angle-right"></i>
             </li>
             <li>
                
                  <a routerLink='/noticeboard'> <i class="fa fa-clipboard"></i> Notice</a>
             </li>
 
         </ul>
 
     </div>
      <div class="row ">
         <div class="col-md-6">

         </div>
         <div class="col-md-6 form-group text-right">
 
             <span id="load_notification"></span>
             <input type="checkbox" onchange="ToggleEmailNotification('notice_notification');return false;"
                    class="make-switch" name="notice_notification" checked
                     data-on-color="success" data-on-text="Yes" data-off-text="No" data-off-color="danger">
             <strong>Email Notification</strong><br>
 
 
         </div>
     </div>
 
 
       <div class="row">
         <div class="col-md-12">
 
 
             <!-- BEGIN EXAMPLE TABLE PORTLET-->
             <div id="load">
 
                 
                                 
 
             </div>
             <div class="portlet box blue">
                 <div class="portlet-title">
                     <div class="caption">
                         <i class="fa fa-clipboard"></i>Notice List
                     </div>
                     <div class="tools">
                     </div>
                 </div>
 
                 <div class="portlet-body">
 
 
                     <table class="table table-striped table-bordered table-hover" id="notices">
                    
                         <tr>
                             <th> S.no</th>
                             <th> Title</th>
                             <th> Description</th>
                             <th> Date</th>
                    
                            
                        
                         </tr>
                      
                         
                         <tbody>
                             <tr *ngFor="let hero of myArray" >
                          <td>{{hero.id}}</td>
                          <td>{{hero.title}}</td>
                          <td>{{hero.description}}</td>
                          <td>{{hero.date}}</td>
                        </tr>
                        <!-- <tr>
                                <td>{{id1}}</td>
                                <td>{{title1}}</td>
                                <td>{{description1}}</td>
                                <td>{{date1}}</td> 
                        </tr>
                        <tr>
                                <td>{{id2}}</td>
                                <td>{{title2}}</td>
                                <td>{{description2}}</td>
                                <td>{{date2}}</td> 
                        </tr>
                        <tr>
                                <td>{{id3}}</td>
                                <td>{{title3}}</td>
                                <td>{{description3}}</td>
                                <td>{{date3}}</td> 
                        </tr>
                        <tr>
                                <td>{{id4}}</td>
                                <td>{{title4}}</td>
                                <td>{{description4}}</td>
                                <td>{{date4}}</td> 
                        </tr> -->
                                     
 
                         </tbody>
                     </table>
                    
                 </div>
             </div>
             
             <!-- END EXAMPLE TABLE PORTLET-->
 
         </div>
     </div>
 
 
 
  </div>
  </div>