h3{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #f38c06;
    font-weight: bold;
}
.caption{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.bgLogo{
    background-image: url('/assets/img/Bg.jpg');
    background-attachment: fixed;
    background-size:cover;
    background-repeat: no-repeat;
   
}