<div class="container bgLogo ">

  <div class="row  my-2 text-center iconBar">
    <div class="col-lg-3">
      <div class="card ">
        <div class="card-body" routerLink="/viewdetails">
          <h5 class="card-title"><i class=" far fa-user fa-3x">
            <span class="badge badge-light">3</span></i></h5>
          <p class="card-text">My profile</p>
        
        </div>
      </div>
    </div>

  <div class="col-lg-3 ">
  <div class="card ">
    <div class="card-body"routerLink="/noticeboard">
      <h5 class="card-title"><i class=" far fa-bell fa-3x">
        <span class="badge badge-light">5</span></i>
      </h5>
      <p class="card-text">Notifications
      
      </p>
      
    </div>
  </div>
  </div>

    <div class="col-lg-3 ">
      <div class="card">
        <div class="card-body"routerLink="/leaverequest">
          <h5 class="card-title"><i class=" far fa-edit fa-3x">
            <span class="badge badge-light">9</span></i></h5>
            
          <p class="card-text">Leaves Status</p>
          
        </div>
      </div>

    </div>
    <div class="col-lg-3 ">
      
      <div class="card">
        <div class="card-body"routerLink="/downloadpayslips">
          <h5 class="card-title"><i class="fas fa-download fa-3x">
            <span class="badge badge-light">1</span></i>
          </h5>
          <p class="card-text">Download Payslips</p>
         
        </div>
      </div>
    </div>

</div>
  </div>
  <div class="container border">
    <div class="row">
      <div class="col-lg-6">

        <div class="card" style="width:32rem; height:22rem;">
           
        <div class="card-body ">
            <h4>My Leaves</h4>
            <canvas id="myChart" class="pieChat"></canvas>
      </div>
        
      </div>
      </div>
      <div class="col-lg-6">
        <div class="card " style="width:32rem; height:22rem;">
          
        <div class="card-body ">
            <h4>My Attendance</h4>
          <canvas id="myChart2" class="pieChat2"></canvas>
        </div>
      </div>
   
      </div>

</div>
</div>




