
    <div > 
        
    <ul class=" nav justify-content-end p-2 fixed-top">
      
     
      
        <li class="nav-item">
          <a class="nav-link text-white" href="#"><i class="fas fa-comments text-white"></i></a>
        </li>
          <li class="nav-item">
            <a class="nav-link text-white ntfy" routerLink="/noticeboard" href="#"><i class="fa fa-bell"></i> <span class="badge badge-danger">1</span></a>
          </li>
         <li class="nav-item">
            <a class="nav-link text-white" href="#"><i class="fa fa-refresh text-white"></i></a>
          </li> 
          <li class="nav-item bg-danger">
              <a href="#" class="nav-link text-white ntfy"  role="button" (click)="logoutUser()"><i class="fas fa-sign-out-alt mr-2"></i>Logout</a>
            </li>
            
         </ul>
         <!-- <button mat-raised-button
         matTooltip="Info about the action"
         aria-label="Button that displays a tooltip when focused or hovered over">
   Action
 </button> -->
  </div>


      
      <div class=" p-2 fixed-top">
          <div class="">
              <img src="/assets/img/ZYCLYX1.png" height="50px" width="200px" class="">
              <i class="fas fa-bars barIcon"></i>
            </div>
          
        <!-- <div class="iconBar">
            <a class=" text-white" href="#"><i class="fas fa-comments text-white mr-4"></i></a>
         <a class=" text-white " routerLink="/noticeboard" href="#"><i class="fa fa-bell mr-4"></i> <span class="badge badge-danger">1</span></a>
         <a class=" text-white" href="#"><i class="fa fa-refresh text-white mr-4"></i></a>
        <a class=" text-white "  role="button" (click)="logoutUser()"> <i class="fas fa-power-off"></i></a>
          </div> -->
    </div> 



