<div class="container d-flex justify-content-center form-bg">

  <div class="card text-center">
    <img src="../../assets/img/reset (2).PNG" height="auto" width="60%" class="mx-auto" alt="Forgot">
    <div class="card-body">
      <h4 class="card-title ">Reset password</h4>
      <p class="card-text">We will send you to instructions to reset your password.</p>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">
            <i class="fas fa-lock"></i>
          </span>
        </div>
        <input type="text" class="form-control" placeholder="Token" aria-label="Token"name="token"  [(ngModel)]="logindata.token" aria-describedby="basic-addon1">
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon2">
            <i class="fas fa-key"></i>
          </span>
        </div>
        <input type="password" class="form-control" placeholder="password" name="updatepassword"  [(ngModel)]="logindata.updatepassword" aria-label="password" aria-describedby="basic-addon2">
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon3">
            <i class="fas fa-key"></i>
          </span>
        </div>
        <input type="password" class="form-control" placeholder="confirm password" aria-label="cnf-password" aria-describedby="basic-addon3">
      </div>
      <a  class="btn btn-info btn-block btn-sm mb-4" (click)="resetpassword()">Submit</a>
    </div>
  </div>
</div>