.form-bg{
    margin-top:50px;
}
body{
    background-color:#ebf4ff !important;
}
.form-bg .card{
    width: 22rem;
    box-shadow: 0px 1px 2px -1px;
    border-radius: 8px;
}
.card{
    top:50px;
}
.card-title{
    color:#004089;
}
.card-text{
    font-size: 14px;
    color: #1560bb;
}