<div class="container d-flex justify-content-center form-bg">
  <div class="row">
    <div class="col-8">
      <div class="card text-center">
        <img src="../../assets/img/forgot (2).png" height="auto" width="60%" class="mx-auto" alt="Forgot">
        <div class="card-body">
          <h4 class="card-title">Forgot password</h4>
          <p class="card-text display-5">We will send you to instructions to reset your password.</p>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">
                <i class="fas fa-envelope"></i>
              </span>
            </div>
            <input type="mail" class="form-control" name="email"  [(ngModel)]="logindata.email"  placeholder="fmail" aria-label="email" aria-describedby="basic-addon1">
          </div>
          <a  [routerLink]="['/resetpassword']" class="btn btn-info btn-block btn-sm mb-4" (click)="forgetpassword()"  >Submit</a>
        </div>
      </div>
    </div>
  </div>
</div>
