.card{
    box-shadow: 0 0 15px -5px black;
}
.btn:hover{
    background: green;
    color: white;
}
thead{
    background: #ccc;
}
.report{
    color: #0177bc;
    font-size: 23px;
}
.titleName{
    font-weight: bold;
    margin-top: 63px;
}
.Homebar i,.Homebar a{
    color:#0177bc;
}
.btnShow{
    background: #e4e2e2;

}
.btnShow:hover{
    background: #e4e2e2;

}
table{     
        font-style: normal;
       }
       .actionIcons button{
        background: white;
        box-shadow: 1px 1px 3px -1px black;
        background: none;
        outline: none;
        border: none;
        margin-right: 20PX;
        padding: 5px;
        width: 30px;
    }

// .row .col{
//     float: right;
//     }
//     // .search_field i:after{
//     //     font-size: 4px;
//     // }
// .input-field input[type=search]{
//     height:1rem;
// }
// .fa-search:before{
//     font-size: 15px;
//         }

//  .fa{
//          line-height:0px;
//          margin-right:10px;
//   }
// .input-field .prefix{
//          top:0px;
//         }
//  .page-content-wrapper .page-content{
//             margin-left: 0px;
//         }
//         .bgLogo{
//             background-image: url('/assets/img/Bg.jpg');
//             background-attachment: fixed;
//             background-size:cover;
//             background-repeat: no-repeat;
           
//         }
//         h3{
//             font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
//             color: #f38c06;
//             font-weight: bold;
//         }
